{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

<h1>InteractionGraphic creation</h1>

<form class="well label_bold" name="InterGraphForm" id="InterGraphForm" action="{{ path('interactiongraphic_create') }}" method="post" {{ form_enctype(form) }}>

    <p>
        {{ form_label(form.interaction.question.title, "Question title :") }}
        {{ form_widget(form.interaction.question.title) }} 
    </p><p>        
        {{ form_label(form.interaction.question.category, "Category :") }}
        {{ form_widget(form.interaction.question.category) }}

        {# link to category #}
        <a href="#" style="margin: 5px 5px 5px 5px;" id="lien_category">{{ "Create a new category" | trans }}</a> 

    </p><p>        
        {{ form_label(form.interaction.question.description, "Description (optional) :") }}
        {{ form_widget(form.interaction.question.description) }}
    </p><p>        
        {{ form_label(form.interaction.question.model, "Set as model") }}
        {{ form_widget(form.interaction.question.model) }}
    </p><p>                
        {{ form_label(form.interaction.invite, "Question :") }}
        {{ form_widget(form.interaction.invite) }}
    </p><p>         
        {{ form_label(form.interaction.feedBack, "Feedback to display whith the correction (optional) :") }}
        {{ form_widget(form.interaction.feedBack) }}
    </p><p>        
        {{ form_label(form.interaction.hints, "Hints :") }}
        {{ form_widget(form.interaction.hints) }}         
    </p><p>        
        {{ form_label(form.document, "Img dispo :") }}
        {{ form_widget(form.document) }}   
 
    &nbsp; &nbsp;
    <a href="{{ path('interactiongraphic_savepic') }}" onclick="window.open(this.href, 'NewPic', 
        'height=167, width=287, top=300, left=570, toolbar=no, menubar=no, location=no, resizable=yes, scrollbars=no, status=no'
        ); return false;">Add a new picture ...</a>
    </p>  
 
    <p><input id="LoadImg" type="button" value="Télécharger" onclick="LoadPic()"/></p>
    
    <canvas id="canvas" width="0" height="0">
      <p>Désolé, votre navigateur ne supporte pas Canvas. Mettez-vous à jour</p>
    </canvas>

    <p><br/>
        <button type="submit">Create</button>
    </p>
</form>

<div id="listeCategory">
    <div id="popupCategory" class="hidden"> <a id="closeCategory" class="hidden" title="close popup">{{ "close" | trans }}</a><h1>{{ "Create a new category" | trans }}</h1><div id="div_input_category"></div></div><div id="overlayEffect_cat"> </div>
</div>
 
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/hint.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/category_pop.js') }}"></script>

<script type="text/javascript">
    add_form_hint('{{ "add hint" | trans }}', '{{ "hint number" | trans }}', '{{ "Hint" | trans }}', '{{ "Penalty" | trans }}', '{{ asset('bundles/ujmexo/images/ajouter_ligne.jpeg') }}');    
    link_category('{{ path('category_new_pop') }}');
   
   // Function called to display the selected picture 
   function LoadPic(){
        
        var list = document.InterGraphForm.ujm_exobundle_interactiongraphictype_document;
        var select = list.options[list.selectedIndex].innerHTML; // Label of the selected picture

        var canvas  = document.querySelector('#canvas');
        var context = canvas.getContext('2d');

        var pic = new Image();

        // Send the label of the picture to get the adress in order to display it
        $.ajax({
             type: "POST",
             url: "{{path('interactiongraphic_DisplayPic')}}",
             data: { value: select },
             cache: false,
                 success: function(data){ 
                     result = data.substr((data.indexOf('>/')+2));
                     pic.src = result;
                 }                   
          });     

        pic.onload = function() {
           canvas.width = pic.width;
           canvas.height = pic.height;

           context.drawImage(pic, 0, 0);
       }
    }
</script>