{#
 # ExoOnLine
 # Copyright or © or Copr. Université Jean Monnet (France), 2012
 # dsi.dev@univ-st-etienne.fr
 #
 # This software is a computer program whose purpose is to [describe
 # functionalities and technical features of your software].
 #
 # This software is governed by the CeCILL license under French law and
 # abiding by the rules of distribution of free software.  You can  use,
 # modify and/ or redistribute the software under the terms of the CeCILL
 # license as circulated by CEA, CNRS and INRIA at the following URL
 # "http://www.cecill.info".
 #
 # As a counterpart to the access to the source code and  rights to copy,
 # modify and redistribute granted by the license, users are provided only
 # with a limited warranty  and the software's author,  the holder of the
 # economic rights,  and the successive licensors  have only  limited
 # liability.
 #
 # In this respect, the user's attention is drawn to the risks associated
 # with loading,  using,  modifying and/or developing or reproducing the
 # software by the user in light of its specific status of free software,
 # that may mean  that it is complicated to manipulate,  and  that  also
 # therefore means  that it is reserved for developers  and  experienced
 # professionals having in-depth computer knowledge. Users are therefore
 # encouraged to load and test the software's suitability as regards their
 # requirements in conditions enabling the security of their systems and/or
 # data to be ensured and,  more generally, to use and operate it in the
 # same conditions as regards security.
 #
 # The fact that you are presently reading this means that you have had
 # knowledge of the CeCILL license and that you accept its terms.
#}

{# src/UJM/ExoBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/ujmexo/css/main.css') }}" type="text/css" media="all" />
            <link href="{{ asset('bundles/ujmexo/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}

        {% block javascripts %}
            {#<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>#}
            <script src="{{ asset('bundles/ujmexo/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/ujmexo/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}



    </head>
    <body>
        <div id="page">

            <div id="header" align="center">
                <img src="{{ asset('bundles/ujmexo/images/BANNIERE.png') }}" alt="ExoOnLine"/>
            </div>

            <div>
                {% block menu_user %}
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container">
                                <ul class="nav">
                                    <li> <a href="{{ path('exercise') }}">{{ "List of exercises" | trans }}</a> </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('question') }}">{{ "Bank of questions" | trans }}</a></li>
                                        <li><a href="{{ path('category') }}">{{ "Category" | trans }}</a></li>
                                        <li><a href="#">{{ "Administration" | trans }}</a></li>
                                    {% endif %}
                                    <li><a href="#">{{ "My account" | trans }}</a></li>
                                    <li><a href="{{ path('exo_logout') }}"> ------ {{ "Exit" | trans }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>

            <div id="infos_liens">
            </div>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>

            <div id="footer">
                <p>Tous droits réservés © 2012</p>
            </div>

        </div>
    </body>
</html>
