<h1>Hole list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Size</th>
            <th>Score</th>
            <th>Position</th>
            <th>Orthography</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('hole_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.size }}</td>
            <td>{{ entity.score }}</td>
            <td>{{ entity.position }}</td>
            <td>{{ entity.orthography }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('hole_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('hole_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('hole_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
